header {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}

header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
}

body {
  margin-top: 200px;
}

.column {
  float: left;
  width: 50%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

#odd {
  background-color: lightgrey;
}

#even {
  background-color: white;
}
